button{
    width: 70px;
    height: 70px;
    background-color: lightgray;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid black;
}

/*
.btn-0{
    margin: 1px;
}

.btn-1{
    margin: 1px;
}*/


